/* from responsivecoive */

.tts-wrapper {
  float: right;
  margin-bottom: 1rem;
}

.tts-button {
  background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border-radius: 0rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  text-decoration: none;
}

.tts-button:hover {
  background-color: #c2c2c2;
}

.tts-button:active {
  position: relative;
  top: 1px;
}
